{% extends 'base.html.twig' %}

{% block title %}InnovaElectra - Votre panier{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Votre panier</h1>
    <div id="cartItems" class="row"></div>
</div>
{% endblock %}

