{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-secondary store-mt-title fw-bold mt-5">Découvrez notre gammes</h1>
	<div class="row">
		{% for product in products %}
			<div class="col-md-12 col-lg-4">
				<div class="product">
					<a href="{{ path('product.details', {id: product.id}) }}" class="product-link">
						<div class="product-overlay">
							<p class="product-title-form">{{ product.title }}</p>
						</div>
						<img src="{{ asset('assets/img/products/' ~ product.image)}}" alt="Produits" class="product-img">
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}