{% extends 'base.html.twig' %}

{% block title %}InnovaElectra
{% endblock %}

{% block body %}
	<div>
		<h1>Acheter un
			{{ product.title }}</h1>
		<p>Au prix de
			{{ product.price }}</p>
		<div>
			<p>{{ product.description }}</p>
		</div>
	</div>


{% endblock %}